@import 'variables';

@mixin mobile {
    @media only screen and (min-width: $layout_bp_mobile) {
      @content;
    }
  }

@mixin tablet {
  @media only screen and (min-width: $layout_bp_tablet) {
      @content;
  }
}