@import "./custom";
@import "./variables";
@import "./responsive";
@import "./mixin";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic", sans-serif;
}

.navbar {
  width: 100%;
  min-height: 80px;
  background-color: rgb(47, 47, 47);
  font-size: 23px;
  @include display_flex_row(space-between, center);
  padding: 1% 3%;
  padding-left: 5%;
  color: white;

  &__item-button {
    border: none;
    background-color: rgb(47, 47, 47);
    color: white;
    cursor: pointer;
    letter-spacing: 4px;
    outline: none;
    padding-bottom: 3px;
  }

  &__item-button:hover {
    border-bottom: rgb(221, 180, 200) solid 2px;
  }

  &__item-modo {
    font-size: 18px;
    @include display_flex_row(space-between, center);
  }

  &__item--dark {
    margin-right: 10%;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .main {
  padding-top: 102px;
}

.main {
  font-family: "Nanum Gothic", sans-serif;
  @include display_flex_column(center, flex-start);
  margin-top: 900px;
  max-width: 75%;
  min-height: 709px;
  margin: 30px auto;
  font-size: 20px;

  &__section-container {
    width: 100%;
    min-height: 300px;
    @include display_flex_column(center, space-between);
    background-color: rgb(204, 201, 203);
    margin-top: 2 0px;
    padding: 3%;
    border-radius: 0px 25px 0px 25px;
    box-shadow: 35px 35px 80px #9e9d9d;
    font-family: "Ubuntu", sans-serif;
  }

  &__info {
    min-height: 600px;
    width: 100%;
    @include display_flex_row(space-between, center);
    padding: 2% 5%;
  }

  &__salutation {
    @include display_flex_column(center, space-between);
  }

  &__cv-image {
    width: 80%;
    height: 100%;
    border-radius: 0px 25px 0px 25px;
  }

  &__i-am {
    font-family: "Dancing Script", cursive;
    font-size: 55px;
  }

  &__i-am:hover {
    color: khaki;
  }

  &__hello {
    font-size: 40px;
  }

  &__i-am-detail {
    font-size: 20px;
    margin: 8px;
  }

  &__next-container {
    width: 60%;
    @include display_flex_column(center, center);
    font-size: 18px;
  }

  &__next-button {
    width: 230px;
    height: 45px;
    background-color: rgb(47, 47, 47);
    color: white;
    border-radius: 50px;
    border: none;
    outline: none;
    margin-top: 10px;
  }

  &__next-button:hover {
    background-color: khaki;
    color: black;
    font-weight: 900;
  }

  &__div-more-info {
    width: 100%;
    @include display_flex_row(space-between, center);
  }

  &__like {
    width: 50%;
    padding: 0px;
  }

  &__like-title {
    margin: 0px;
    margin-top: 10px;
  }

  .buttons {
    margin: 20px 0;
  }

  &__personal-image {
    width: 80%;
    height: 20%;
  }

  &__container-button {
    @include display_flex_row(space-between, center);
    width: 100%;
    min-height: 100px;
  }

  &__experience-subtitle {
    font-size: 13px;
    margin-bottom: 20px;
  }

  &__experience-container-arrow {
    @include display_flex_column(center, center);
    width: 100%;
  }

  &__experience-arrow {
    @include display_flex_column(center, center);
    width: 35%;
  }

  &__experience-arrow-image {
    width: 100%;
    height: 50px;
  }

  &__experience-arrow-info {
    @include display_flex_row(space-between, center);
    width: 35%;
    margin: 15px 0 25px 0;
  }

  &__experience-arrow-info > p {
    margin: 0px;
  }

  &__experience-button {
    width: 22%;
    margin-right: 2%;
    height: 70px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 40px;
    background-color: white;
    cursor: pointer;
    outline: none;
  }

  &__experience-button:last-child {
    margin-right: 0px;
  }

  &__experience-image {
    width: 190px;
    height: 50px;
  }

  &__ws-image {
    width: 220px;
    height: 55px;
  }

  &__info-li1 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 20px;
  }

  &__info-li2 {
    line-height: 36px;
    margin: 0 35px;
    text-align: justify;
  }

  &__studies-div {
    @include display_flex_row(center, center);
    width: 80%;
    min-height: 300px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  &__studies-img-div {
    width: 50%;
    height: 300px;
  }

  &__studies-img {
    width: 100%;
    height: 100%;
  }

  &__studies-info-div {
    @include display_flex_column(center, center);
    width: 50%;
    height: 300px;
    border-top: 1px solid black;
  }

  &__knowledge-span {
    width: 35%;
    height: 400px;
  }

  &__knowledge-list-item {
    word-spacing: 8px;
  }

  &__knowledge-container {
    padding: 0 3%;
    margin-bottom: 45px;
  }

  &__knowledge-image {
    width: 230px;
    height: 200px;
    margin-top: 40px;
    border-radius: 35px 0px;
  }

  &__cv-icon {
    width: 150px;
    height: 70px;
    margin: 20px 0 20px 0;
  }

  &__go-to-personal {
    font-weight: 700;
    cursor: pointer;
  }

  &__goodbye-p {
    margin-top: 40px;
  }

  &__cat-typing {
    border-radius: 0 40px 0 40px;
    width: 15%;
    height: 15%;
  }

  &__personal-info {
    @include display_flex_column(center, space-between);
    width: 100%;
    min-height: 200px;
  }
}

.personal-info {
  @include display_flex_column(center, space-between);
  width: 100%;
  min-height: 200px;
}

.contact-list {
  @include display_flex_row(space-between, space-between);
  width: 100%;
  min-height: 50px;

  &-item {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 55px;
    height: 50px;

    &-item--gmail {
      width: 70px;
    }
  }
}

//Helpers
.no-margin {
  margin: 0px;
}

.center {
  text-align: center;
}

.font-weight-800 {
  font-weight: 800;
}

.list-no-decoration {
  list-style-type: none;
}

.hide {
  display: none;
}

.flex-row-space-between {
  @include display_flex_row(space-between, space-between);
  width: 100%;
  min-height: 200px;
}

.flex-column-space-between {
  @include display_flex_column(center, space-between);
  width: 100%;
  min-height: 500px;
}

.margin-top {
  margin-top: 90px;
}

.top-right-border {
  border-top: 1px solid rgb(224, 182, 203);
  padding: 15px 15px 0px 0px;
  border-right: 1px solid rgb(218, 134, 174);
}

.top-left-border {
  border-top: 1px solid rgb(224, 182, 203);
  padding: 15px 0px 0px 15px;
  border-left: 1px solid rgb(218, 134, 174);
}

.underscore {
  border-bottom: 3px solid rgb(218, 134, 174);
}
